<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name = "TestSuite" time-out="60000" >
    <test name = "CatsFacts">
        <parameter name = "URI" value="https://catfact.ninja"/>
        <classes>
            <class name = "tests.CatFactsTests">
                <methods>
                    <include name="T0001_GetListFacts_WithoutParameters"/>
                    <include name="T0002_GetListFacts_SetLimit">
                        <parameter name="limit" value="5"/>
                    </include>
                </methods>
            </class>
        </classes>
    </test>
</suite>